In [51]:
# Import Dependencies
import csv
import pandas as pd

# Pull in Lake CSV
Lakes_CSV = pd.read_csv("../csv data/Rivers and Lakes/Lakes.csv")
Lakes_CSV.head()

  agency_cd  site_no  parameter_cd   ts_id  year_nu  month_nu   mean_va
0      USGS  7227900         62614  131778     2000        10  2899.728
1      USGS  7227900         62614  131778     2000        11  2900.714
2      USGS  7227900         62614  131778     2000        12  2900.287
3      USGS  7227900         62614  131778     2001         1  2900.105
4      USGS  7227900         62614  131778     2001         2  2900.254

In [52]:
# Pull in Rivers CSV
Rivers_CSV = pd.read_csv("../csv data/Rivers and Lakes/Rivers.csv")
Rivers_CSV.head()

  agency_cd  site_no  parameter_cd   ts_id  year_nu  month_nu  mean_va
0      USGS  7227500            65  131762     1997        10    2.513
1      USGS  7227500            65  131762     1997        11    2.384
2      USGS  7227500            65  131762     1997        12    2.441
3      USGS  7227500            65  131762     1998         1    2.583
4      USGS  7227500            65  131762     1998         2    2.488

In [53]:
# Pull in Lakes Site Joiner CSV
Lakes_Site_Joiner_CSV = pd.read_csv("../csv data/Rivers and Lakes/Lakes Site Joiner.csv")
Lakes_Site_Joiner_CSV.head()

  agency_cd  site_no                         site_loc
0      USGS  7227900       Lk Meredith nr Sanford, TX
1      USGS  8017400   Lk Tawakoni nr Wills Point, TX
2      USGS  8018800       Lake Fk Res nr Quitman, TX
3      USGS  8025350  Toledo Bd Res nr Burkeville, TX
4      USGS  8031400    Lk Palestine nr Frankston, TX

In [54]:
# Pull in Rivers Site Joiner CSV
Rivers_Site_Joiner_CSV = pd.read_csv("../csv data/Rivers and Lakes/Rivers Site Joiner.csv")
Rivers_Site_Joiner_CSV.head()

  agency_cd  site_no                             site_loc
0      USGS  7227500          Canadian Rv nr Amarillo, TX
1      USGS  7228000          Canadian Rv nr Canadian, TX
2      USGS  7297910  Pr Dog Twn Fk Red Rv nr Wayside, TX
3      USGS  8017410         Sabine Rv nr Wills Point, TX
4      USGS  8030500              Sabine Rv nr Ruliff, TX

In [55]:
# Remove unnecessary fields in Lake CSV
Clean_Lakes_CSV = Lakes_CSV[["site_no", "year_nu", "month_nu", "mean_va"]]
# Create Lake Groupby Object
Lakes_GB = Lakes_CSV.groupby(Lakes_CSV["site_no"])
# Check earliest year for each site number
Lakes_test_df = Lakes_GB["year_nu"].min()
Lakes_test_df

site_no
7227900    2000
8017400    1995
8018800    1995
8025350    1999
8031400    1999
8039300    2000
8052800    1997
8060500    2000
8061550    2000
8063010    2000
8064550    2000
8066190    1999
8067600    1999
8088500    1988
8092500    2000
8102000    2000
8136600    2000
8167700    1999
8206900    1999
Name: year_nu, dtype: int64

In [56]:
# Remove unnecessary fields in Rivers CSV
Clean_Rivers_CSV = Rivers_CSV[["site_no", "parameter_cd", "year_nu", "month_nu", "mean_va"]]
# Create Rivers Groupby Object
Rivers_GB = Clean_Rivers_CSV.groupby(Rivers_CSV["site_no"])
# Check earliest year for each site number
Rivers_test_df = Rivers_GB["year_nu"].min()
Rivers_test_df

site_no
7227500    1938
7228000    1964
7297910    1967
8017410    1970
8030500    1960
8032000    1961
8057410    1956
8067000    1938
8070000    1939
8070200    1984
8088000    1961
8116650    1967
8117995    1988
8164000    1938
8165300    1989
8176500    1934
8178000    1926
8188500    1924
8190000    1923
8211200    1966
8412500    1937
8446500    1939
Name: year_nu, dtype: int64